@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: black; border-radius: 74px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
   
}

.cabecalho-menu-item{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;

}



.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid whitesmoke;

}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: white;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.conteudo-principal-escrito-botao{
    background: linear-gradient(0deg, #ED145B, #ED145B), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;box-shadow: 0px 4px 33px #ED145B;border-radius: 30px;
    width: 120px;
    height: 40px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: white;
    align-items: center;

}

.conteudo-principal-escrito-botao:hover{
    background: linear-gradient(0deg, #7c0de5, #7c0de5), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;box-shadow: 0px 4px 33px #7c0de5;border-radius: 30px;
    width: 120px;
    color: white;
    width: 120px;
    height: 40px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    align-items: center;

}
.conteudo-principal-imagem{
    height: 430px;
    margin-top: 30px;
    
 
    
    
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top:0.4px solid whitesmoke;
    padding-top: 24px ;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    align-items: center;
    margin-bottom: 16px;

}

.conteudo-secundario-paragrafo{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;

}

.rodape{
    border-top:0.4px solid whitesmoke;
    padding: 32px;
}

.rodape-imagem{
    height: 28px;
    flex-direction: column  ;
    align-items: left;
    justify-content: space-around;
    margin: 0 auto;
    
}

